
.flex-container {
  align: center;
  list-style: none;



  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: center;
}
iframe{
  max-width: 100%;
}

.column {
  -webkit-flex-direction: column;
  flex-direction: column;
  float: left;
  width: 100%;

}
.row{
  border-radius: 6px;
}
.dropdown-menu{
  position: relative;
}

.btn{
  width:100%;
}
.exercises{
  width: 100%;
}

.row{
  background-color: rgba(192, 221, 176, 0.5);
}
h1{
  color: rgb(7, 22, 227);
}

.name{
  text-align: center;
}
.tab{
  background-color: rgb(242, 234, 231);
}
/*
.line {
  display:block;
  position:absolute;
  top:45%;
  left:50%;
  border-bottom:4px solid cyan;
  width:0%;
  text-align:center;
  animation: main-line 8s linear forwards;
}



@keyframes main-line {
  from {
    left:50%;
    width:0%;
  }
  to {
    left:15%;
    width:70%;
  }
}*/
